.energy-graph-container {
  display: flex;
  flex-direction: column;
}

.energy-graph {
  width: 100%;
}

.graph-empty {
  color: #888;
  font-size: 0.875rem;
  text-align: center;
  padding: 2rem 0;
}
