.power-graph-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.power-graph {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.graph-loading,
.graph-empty {
  color: #888;
  font-size: 0.875rem;
  text-align: center;
}
